* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #424242;
    font-family: sans-serif;
}

.name-app {
    font-weight: 900;
    color: #E57373;
    margin: 20px;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    animation: fadein ease 1s;
}

.app {
    overflow: hidden;
    background-color: #424242;
    display: block;
    width: 800px;
    height: 600px;
    border-radius: 30px;
    border: 10px solid #E57373;
    margin: auto;
    position: relative;
}

.score-section {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 12px;
    font-size: 18px;
    font-weight: 550;
    color: #E57373;
    min-width: 30px;
    text-align: center;
    background-color: #fff;
    border: 4px solid #E57373;
    border-radius: 50px;
    animation: scoreScale ease .8s;
}

@keyframes scoreScale {
    0% {
        transform: scale(0);
        color: #E57373;
    }

    50% {
        transform: scale(1.4);
        color: #66BB6A;
        border-color: #66BB6A;
    }

}

.question-section {
    margin-top: 120px;
    font-size: 42px;
    width: 100%;
    color: #E57373;
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: questionAnimate ease .4s;
}

@keyframes questionAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.answer-section {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
}

.answer-item {
    width: 40%;
    height: 60px;
    border: none;
    background-color: #E57373;
    color: #fff;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    animation: fadein ease 0.5s;
}

.answer-item:hover {
    transform: translateY(-1px);
    transition: all linear .1s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #E57373;
    font-size: 20px;
    margin: 4px;
}

.hide {
    display: none;
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    70% {
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 739px) {
    body {
        margin: 0;
        height: 100vh;
    }
    .name-app {
        margin-top: 20px;
    }
    
    .app {
        width: 100%;
        height : 100%;
        border: none;
        background-color: unset;
    }

    .score-section {
        left: 50%;
        transform:translateX(-50%);
        background-color: transparent;
        font-size: 30px;
        padding: 4px;
        border-radius: 4px;
        border-color: #E57373;
        animation: scoreScale ease .8s;
    }

    @keyframes scoreScale {
        0% {
            color:#E57373;
            border-color:#E57373;
        }
    
        50% {
            color: #66BB6A;
            border-color: #66BB6A;
        }
    }

    .question-section {
        margin-top: 160px;
    }
}
